In [2]:
import requests as req
import re
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import time
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append('../src')

In [3]:
ubica_rest = pd.read_csv('../datos/ubica_rest.csv')

In [4]:
ubica_rest.head()

,restaurante,ubicacion,Lat&Lon
0,Yakiniku Rikyu,"P.º de la Castellana, 15, 28046 Madrid","(40.4280979, -3.690173)"
1,marmitón,"C. de las Aguas, 6, 28005 Madrid","(40.4108219, -3.712107746868964)"
2,Vinoteca Moratín,"C. de Moratín, 36, 28014 Madrid","(40.412472050000005, -3.6954412113077497)"
3,Pilar Akaneya,"C. de Espronceda, 33, 28003 Madrid","(40.4405573, -3.696109)"
4,Gioia,"C. de San Bartolomé, 23, 28004 Madrid","(40.4221651, -3.6983792)"

In [5]:
data_rest = pd.read_csv('../datos/data_rest.csv')

In [6]:
data_rest.head()

        restaurante    gastronomia precio         opinion       reseña
0    Yakiniku Rikyu       Japonesa  Medio   267 opiniones  Patrocinado
1          marmitón   Mediterránea  Medio    89 opiniones     MICHELIN
2  Vinoteca Moratín  Internacional  Medio  1221 opiniones     MICHELIN
3     Pilar Akaneya       Japonesa   Alto   276 opiniones     MICHELIN
4             Gioia       Italiana  Medio   387 opiniones     MICHELIN

In [7]:
# Realizo el merge de los DataFrames
merged_data = pd.merge(data_rest, ubica_rest[['restaurante', 'ubicacion', 'Lat&Lon']], on='restaurante', how='left')

In [8]:
merged_data.head(15)

,restaurante,gastronomia,precio,opinion,reseña,ubicacion,Lat&Lon
0,Yakiniku Rikyu,Japonesa,Medio,267 opiniones,Patrocinado,"P.º de la Castellana, 15, 28046 Madrid","(40.4280979, -3.690173)"
1,marmitón,Mediterránea,Medio,89 opiniones,MICHELIN,"C. de las Aguas, 6, 28005 Madrid","(40.4108219, -3.712107746868964)"
2,Vinoteca Moratín,Internacional,Medio,1221 opiniones,MICHELIN,"C. de Moratín, 36, 28014 Madrid","(40.412472050000005, -3.6954412113077497)"
3,Pilar Akaneya,Japonesa,Alto,276 opiniones,MICHELIN,"C. de Espronceda, 33, 28003 Madrid","(40.4405573, -3.696109)"
4,Gioia,Italiana,Medio,387 opiniones,MICHELIN,"C. de San Bartolomé, 23, 28004 Madrid","(40.4221651, -3.6983792)"
5,Noi Ristorante,Italiana,Medio,244 opiniones,MICHELIN,"C. de Recoletos, 6, 28001 Madrid","(40.4220139, -3.6906004)"
6,Mudrá Plant Based Recoletos,Internacional,Medio,67 opiniones,MICHELIN,"C. de Recoletos, 13, 28001 Madrid","(40.4218211, -3.6898244)"
7,La MaMá Restaurante,Mediterránea,Medio,225 opiniones,MICHELIN,"6 bis, Parque, Av. de Brasil, 28020 Madrid",NaN
8,Sisapo,Mediterránea,Medio,71 opiniones,MICHELIN,"C. de Trafalgar, 14, 28010 Madrid","(40.4318711, -3.7004566)"
9,RECREO Espartinas,Mediterránea,Medio,366 opiniones,MICHELIN,"C. de Espartinas, Nº 5, 28001 Madrid",NaN
10,Miyama,Japonesa,Alto,837 opiniones,MICHELIN,NaN,"(44.933143, 7.540121)"
11,Deessa,Mediterránea,Alto,52 opiniones,MICHELIN,"Pl. de la Lealtad, 5, 28014 Madrid","(40.41555015, -3.692725530645917)"
12,Hotaru Madrid,Japonesa,Alto,199 opiniones,MICHELIN,"C. de Alcalá, 99, 28009 Madrid","(40.421502, -3.6834669)"
13,Yugo the Bunker,Japonesa,Alto,342 opiniones,MICHELIN,"Calle de San Blas, 4, 28014 Madrid","(40.410375, -3.6938335)"
14,Coque,Internacional,Alto,476 opiniones,MICHELIN,NaN,"(44.933143, 7.540121)"

In [9]:
merged_data['ubicacion'][10]

nan

In [10]:
merged_data['ubicacion'] = merged_data['ubicacion'].fillna('')

In [11]:
merged_data.head(15)

,restaurante,gastronomia,precio,opinion,reseña,ubicacion,Lat&Lon
0,Yakiniku Rikyu,Japonesa,Medio,267 opiniones,Patrocinado,"P.º de la Castellana, 15, 28046 Madrid","(40.4280979, -3.690173)"
1,marmitón,Mediterránea,Medio,89 opiniones,MICHELIN,"C. de las Aguas, 6, 28005 Madrid","(40.4108219, -3.712107746868964)"
2,Vinoteca Moratín,Internacional,Medio,1221 opiniones,MICHELIN,"C. de Moratín, 36, 28014 Madrid","(40.412472050000005, -3.6954412113077497)"
3,Pilar Akaneya,Japonesa,Alto,276 opiniones,MICHELIN,"C. de Espronceda, 33, 28003 Madrid","(40.4405573, -3.696109)"
4,Gioia,Italiana,Medio,387 opiniones,MICHELIN,"C. de San Bartolomé, 23, 28004 Madrid","(40.4221651, -3.6983792)"
5,Noi Ristorante,Italiana,Medio,244 opiniones,MICHELIN,"C. de Recoletos, 6, 28001 Madrid","(40.4220139, -3.6906004)"
6,Mudrá Plant Based Recoletos,Internacional,Medio,67 opiniones,MICHELIN,"C. de Recoletos, 13, 28001 Madrid","(40.4218211, -3.6898244)"
7,La MaMá Restaurante,Mediterránea,Medio,225 opiniones,MICHELIN,"6 bis, Parque, Av. de Brasil, 28020 Madrid",NaN
8,Sisapo,Mediterránea,Medio,71 opiniones,MICHELIN,"C. de Trafalgar, 14, 28010 Madrid","(40.4318711, -3.7004566)"
9,RECREO Espartinas,Mediterránea,Medio,366 opiniones,MICHELIN,"C. de Espartinas, Nº 5, 28001 Madrid",NaN
10,Miyama,Japonesa,Alto,837 opiniones,MICHELIN,,"(44.933143, 7.540121)"
11,Deessa,Mediterránea,Alto,52 opiniones,MICHELIN,"Pl. de la Lealtad, 5, 28014 Madrid","(40.41555015, -3.692725530645917)"
12,Hotaru Madrid,Japonesa,Alto,199 opiniones,MICHELIN,"C. de Alcalá, 99, 28009 Madrid","(40.421502, -3.6834669)"
13,Yugo the Bunker,Japonesa,Alto,342 opiniones,MICHELIN,"Calle de San Blas, 4, 28014 Madrid","(40.410375, -3.6938335)"
14,Coque,Internacional,Alto,476 opiniones,MICHELIN,,"(44.933143, 7.540121)"

In [12]:
merged_data.to_csv('../datos/restaurant_def.csv', index=False, encoding='utf-8')

In [13]:
merged_data.head(10)

,restaurante,gastronomia,precio,opinion,reseña,ubicacion,Lat&Lon
0,Yakiniku Rikyu,Japonesa,Medio,267 opiniones,Patrocinado,"P.º de la Castellana, 15, 28046 Madrid","(40.4280979, -3.690173)"
1,marmitón,Mediterránea,Medio,89 opiniones,MICHELIN,"C. de las Aguas, 6, 28005 Madrid","(40.4108219, -3.712107746868964)"
2,Vinoteca Moratín,Internacional,Medio,1221 opiniones,MICHELIN,"C. de Moratín, 36, 28014 Madrid","(40.412472050000005, -3.6954412113077497)"
3,Pilar Akaneya,Japonesa,Alto,276 opiniones,MICHELIN,"C. de Espronceda, 33, 28003 Madrid","(40.4405573, -3.696109)"
4,Gioia,Italiana,Medio,387 opiniones,MICHELIN,"C. de San Bartolomé, 23, 28004 Madrid","(40.4221651, -3.6983792)"
5,Noi Ristorante,Italiana,Medio,244 opiniones,MICHELIN,"C. de Recoletos, 6, 28001 Madrid","(40.4220139, -3.6906004)"
6,Mudrá Plant Based Recoletos,Internacional,Medio,67 opiniones,MICHELIN,"C. de Recoletos, 13, 28001 Madrid","(40.4218211, -3.6898244)"
7,La MaMá Restaurante,Mediterránea,Medio,225 opiniones,MICHELIN,"6 bis, Parque, Av. de Brasil, 28020 Madrid",NaN
8,Sisapo,Mediterránea,Medio,71 opiniones,MICHELIN,"C. de Trafalgar, 14, 28010 Madrid","(40.4318711, -3.7004566)"
9,RECREO Espartinas,Mediterránea,Medio,366 opiniones,MICHELIN,"C. de Espartinas, Nº 5, 28001 Madrid",NaN

In [14]:
restaurantes = merged_data.copy()

In [15]:
restaurantes['Lat&Lon'] = restaurantes['Lat&Lon'].astype(str)


lat_lon_pattern = r'\(([^,]+), ([^)]+)\)'
restaurantes[['lat', 'long']] = restaurantes['Lat&Lon'].str.extract(lat_lon_pattern)

In [16]:
# Convierte las nuevas columnas a tipos numéricos si es necesario
restaurantes[['lat', 'long']] = restaurantes[['lat', 'long']].apply(pd.to_numeric, errors='coerce')

# Elimina la columna "Lat&Lon"
restaurantes = restaurantes.drop('Lat&Lon', axis=1)

In [17]:
restaurantes.head(20)

,restaurante,gastronomia,precio,opinion,reseña,ubicacion,lat,long
0,Yakiniku Rikyu,Japonesa,Medio,267 opiniones,Patrocinado,"P.º de la Castellana, 15, 28046 Madrid",40.428098,-3.690173
1,marmitón,Mediterránea,Medio,89 opiniones,MICHELIN,"C. de las Aguas, 6, 28005 Madrid",40.410822,-3.712108
2,Vinoteca Moratín,Internacional,Medio,1221 opiniones,MICHELIN,"C. de Moratín, 36, 28014 Madrid",40.412472,-3.695441
3,Pilar Akaneya,Japonesa,Alto,276 opiniones,MICHELIN,"C. de Espronceda, 33, 28003 Madrid",40.440557,-3.696109
4,Gioia,Italiana,Medio,387 opiniones,MICHELIN,"C. de San Bartolomé, 23, 28004 Madrid",40.422165,-3.698379
5,Noi Ristorante,Italiana,Medio,244 opiniones,MICHELIN,"C. de Recoletos, 6, 28001 Madrid",40.422014,-3.690600
6,Mudrá Plant Based Recoletos,Internacional,Medio,67 opiniones,MICHELIN,"C. de Recoletos, 13, 28001 Madrid",40.421821,-3.689824
7,La MaMá Restaurante,Mediterránea,Medio,225 opiniones,MICHELIN,"6 bis, Parque, Av. de Brasil, 28020 Madrid",NaN,NaN
8,Sisapo,Mediterránea,Medio,71 opiniones,MICHELIN,"C. de Trafalgar, 14, 28010 Madrid",40.431871,-3.700457
9,RECREO Espartinas,Mediterránea,Medio,366 opiniones,MICHELIN,"C. de Espartinas, Nº 5, 28001 Madrid",NaN,NaN
10,Miyama,Japonesa,Alto,837 opiniones,MICHELIN,,44.933143,7.540121
11,Deessa,Mediterránea,Alto,52 opiniones,MICHELIN,"Pl. de la Lealtad, 5, 28014 Madrid",40.415550,-3.692726
12,Hotaru Madrid,Japonesa,Alto,199 opiniones,MICHELIN,"C. de Alcalá, 99, 28009 Madrid",40.421502,-3.683467
13,Yugo the Bunker,Japonesa,Alto,342 opiniones,MICHELIN,"Calle de San Blas, 4, 28014 Madrid",40.410375,-3.693834
14,Coque,Internacional,Alto,476 opiniones,MICHELIN,,44.933143,7.540121
15,El pedrusco de Aldealcorvo,Internacional,Medio,223 opinionesCierra en 6 minutos,MICHELIN,"C. de Juan de Austria, 27, 28010 Madrid",40.433943,-3.700049
16,KABUKI WELLINGTON SL,Japonesa,Alto,974 opiniones,MICHELIN,"C. de Velázquez, 6, 28001 Madrid",40.421771,-3.684182
17,Kabuki,Japonesa,Alto,725 opiniones,MICHELIN,,44.933143,7.540121
18,Restaurante Lakasa,Mediterránea,Medio,1161 opiniones,MICHELIN,"Pl. del Descubridor Diego de Ordás, 1, 28003 M...",40.440880,-3.700779
19,Bardero,Mediterránea,Medio,106 opiniones,Comida espectacular por 37€ por persona,"Palos de la Frontera, 11, 28012 Madrid",40.403976,-3.694602

In [18]:
restaurantes['lat'] = restaurantes['lat'].fillna('')
restaurantes.loc[restaurantes['ubicacion'] == '', 'lat'] = ''

In [19]:
restaurantes['long'] = restaurantes['long'].fillna('')
restaurantes.loc[restaurantes['ubicacion'] == '', 'long'] = ''

In [20]:
restaurantes.tail(10)

,restaurante,gastronomia,precio,opinion,reseña,ubicacion,lat,long
290,nonsolocaffé,Italiana,Medio,192 opiniones,Auténtica comida italiana,"C. de Ríos Rosas, 52, 28003 Madrid",40.441532,-3.695822
291,Solito Taqueria,Mexicana€€ - €€€Carta,Medio,54 opiniones,Cocina mexicana con cariño.,"C. de la Pasa, 4, 28005 Madrid",40.41429,-3.708957
292,Restaurante La Rita,Internacional,Medio,40 opiniones,Comida grupo fenomenal,,,
293,Asia Te,China,Medio,163 opiniones,Buenísimo,"C. de Agustín de Foxá, 27, 28036 Madrid",40.470799,-3.685203
294,Diaz y Larrouy,Mediterránea,Medio,136 opiniones,"Una pena, se alquila","C. de Embajadores, 65, 28012 Madrid",40.403922,-3.701303
295,Mad by Robleño,Mediterránea,Medio,35 opiniones,Para repetir.,"Calle de Diego de León, 26, 28006 Madrid",40.434534,-3.682571
296,El Cunzato,Italiana,Bajo,31 opiniones,¡Gran descubrimiento!,"C. de Sta. Isabel, 5, 28012 Madrid",40.411732,-3.698477
297,Crudo,Mediterránea,Medio,13 opiniones,Muy recomendable,,,
298,La Lonja Restaurante,Marisco,Medio,550 opiniones,Agradable sitio en un lugar privilegiado,,,
299,Federica By Chef Oswaldo Sanchez,Italiana,Medio,72 opiniones,BUENÍSIMO,,,

In [21]:
restaurantes.to_csv('../datos/rest_clean.csv', index=False, encoding='utf-8')