## MAPAS json MADRID

In [4]:
import pandas as pd
import numpy as np
import geopandas as gpd
import folium
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [8]:
eventos = pd.read_csv('../csv/eventos_def.csv')
restaurantes = pd.read_csv('../csv/rest_clean.csv')

In [9]:
eventos.head()

,nombre,local,precio,enlace,año,mes,dia,hora,ubicacion,lat,long
0,El Rey León,Teatro Lope de Vega,49.0,https://www.entradas.com/event/el-rey-leon-el-...,2023,11,30,19:00,"C.Gran Vía, 57, 28013 Madrid",40.4217903,-3.7086754
1,El Rey León,Teatro Lope de Vega,45.0,https://www.entradas.com/event/el-rey-leon-el-...,2023,12,1,17:00,"C.Gran Vía, 57, 28013 Madrid",40.4217903,-3.7086754
2,El Rey León,Teatro Lope de Vega,45.0,https://www.entradas.com/event/el-rey-leon-el-...,2023,12,1,21:00,"C.Gran Vía, 57, 28013 Madrid",40.4217903,-3.7086754
3,El Rey León,Teatro Lope de Vega,67.0,https://www.entradas.com/event/el-rey-leon-el-...,2023,12,2,17:00,"C.Gran Vía, 57, 28013 Madrid",40.4217903,-3.7086754
4,El Rey León,Teatro Lope de Vega,45.0,https://www.entradas.com/event/el-rey-leon-el-...,2023,12,2,21:00,"C.Gran Vía, 57, 28013 Madrid",40.4217903,-3.7086754

In [10]:
restaurantes.head()

,restaurante,gastronomia,precio,opinion,reseña,ubicacion,lat,long
0,Yakiniku Rikyu,Japonesa,Medio,267 opiniones,Patrocinado,"P.º de la Castellana, 15, 28046 Madrid",40.4280979,-3.690173
1,marmitón,Mediterránea,Medio,89 opiniones,MICHELIN,"C. de las Aguas, 6, 28005 Madrid",40.4108219,-3.712107746868964
2,Vinoteca Moratín,Internacional,Medio,1221 opiniones,MICHELIN,"C. de Moratín, 36, 28014 Madrid",40.412472050000005,-3.6954412113077497
3,Pilar Akaneya,Japonesa,Alto,276 opiniones,MICHELIN,"C. de Espronceda, 33, 28003 Madrid",40.4405573,-3.696109
4,Gioia,Italiana,Medio,387 opiniones,MICHELIN,"C. de San Bartolomé, 23, 28004 Madrid",40.4221651,-3.6983792

In [11]:
restaurantes.insert(6, 'punto', 0)

In [14]:
# Identificar y manejar los valores no válidos
mask = (restaurantes['long'] == 'No disponible') | (restaurantes['lat'] == 'No disponible')

# Opción 1: Eliminar filas con valores no válidos
restaurantes = restaurantes[~mask]

In [15]:
restaurantes.head()

,restaurante,gastronomia,precio,opinion,reseña,ubicacion,punto,lat,long
0,Yakiniku Rikyu,Japonesa,Medio,267 opiniones,Patrocinado,"P.º de la Castellana, 15, 28046 Madrid",0,40.4280979,-3.690173
1,marmitón,Mediterránea,Medio,89 opiniones,MICHELIN,"C. de las Aguas, 6, 28005 Madrid",0,40.4108219,-3.712107746868964
2,Vinoteca Moratín,Internacional,Medio,1221 opiniones,MICHELIN,"C. de Moratín, 36, 28014 Madrid",0,40.412472050000005,-3.6954412113077497
3,Pilar Akaneya,Japonesa,Alto,276 opiniones,MICHELIN,"C. de Espronceda, 33, 28003 Madrid",0,40.4405573,-3.696109
4,Gioia,Italiana,Medio,387 opiniones,MICHELIN,"C. de San Bartolomé, 23, 28004 Madrid",0,40.4221651,-3.6983792

In [16]:
# Opción 2: Reemplazar los valores no válidos con NaN
restaurantes['long'] = pd.to_numeric(restaurantes['long'], errors='coerce')
restaurantes['lat'] = pd.to_numeric(restaurantes['lat'], errors='coerce')

In [17]:
# Crear la GeoSeries
restaurantes['punto'] = gpd.GeoSeries.from_xy(restaurantes['long'], restaurantes['lat'])

In [18]:
restaurantes['punto'] = gpd.GeoSeries.from_xy(restaurantes.long, restaurantes.lat)

In [20]:
restaurantes['punto'].head()

0    POINT (-3.69017 40.42810)
1    POINT (-3.71211 40.41082)
2    POINT (-3.69544 40.41247)
3    POINT (-3.69611 40.44056)
4    POINT (-3.69838 40.42217)
Name: punto, dtype: geometry